/* .container {
  background-color: #abb8ff;
  height: 90vh;
}

.profile_picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 320px;
}

.card {
  height: 780px;
} */
