body {
  margin: auto;
  font-family: "Inter Tight", sans-serif;
}

.container {
  background-color: #23252c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_picture {
  height: 320px;
  width: 320px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.upperText {
  background-color: #1a1b21;
  height: 450px;
  width: 320px;
  margin-top: -4px;
}
.upperText__name {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.upperText__job {
  display: flex;
  justify-content: center;
  font-size: 12.8px;
  font-weight: 400;
  color: #f3bf99;
  margin-top: 14.19px;
  margin-bottom: 14.19px;
}

.upperText__web {
  display: flex;
  justify-content: center;
  font-size: 10.24px;
  color: #ffffff;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
  text-decoration: none;
}

.upperText__button {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.upperText__button > button {
  width: 247px;
  height: 34px;
  background-color: #5093e2;
  color: #ffffff;
  font-size: 14px;
  border-radius: 6px;
  border-width: 0px;
}

.bi.bi-linkedin {
  color: #ffffff;
}

.upperText__about_title {
  margin-left: 27px;
  margin-right: 27px;
  font-size: 18px;
  color: #ffffff;
}

.upperText__about_text {
  margin-left: 27px;
  margin-right: 27px;
  font-size: 13px;
  color: #b4b3b3;
}

.upperText__interests_title {
  margin-left: 27px;
  margin-right: 27px;
  font-size: 18px;
  color: #ffffff;
}

.upperText__interests_text {
  margin-left: 27px;
  margin-right: 27px;
  font-size: 13px;
  color: #b4b3b3;
  font-weight: 100;
}

.footer {
  background-color: #161619;
  width: 320px;
  height: 64px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.git-btn.btn-secondary {
  background-color: #918e9b;
  border-width: 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.email-btn.btn-secondary {
  background-color: #918e9b;
  border-width: 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
